{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/list.css" %}">
    <script src="{% static "js/exceptions.js" %}"></script>
{% endblock head %}
{% block body %}
    <div class="notes-raw">
        <div class="top-navbar">
            {% include "notes-paginatior.html" %}
        </div>
            {% for note in notes %}
                <div class="note">
                    <p>{{ note.inner }}</p>
                </div>
            {% endfor %}
        <div class="foot-navbar">
            {% include "notes-paginatior.html" %}
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script>
    function get_token() {
        return '{{ csrf_str }}';
    }
        function init_() {
        let module_name = 'wall_auto_update'
            let find_notes_url = '{% url "find-new-notes" %}';
            let load_notes_url = '{% url "load-notes" %}';
            let module = window.wall_auto_update || false;
            !module ? throw new InitializationError(module_name) : 0;
            module(find_notes_url, load_notes_url);
        }
    </script>
    <script src="{% static "js/notes-list.js" %}"></script>

{% endblock scripts %}
