strong {
    font-family: Lobster-Regular;
    font-size: 14pt;
}
body {
    overflow-x: hidden;
}
#menu {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;
}
#menu .wrap {
    display: block;
    float: none;
    width: 968px;
    margin: 0 auto;
}
#menu ul {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    margin-left: 300px;
    background-color: #bfdcdd;
    border: 1px solid #1b6d85;
    border-radius: 3px;
}
#menu ul li {
    display: inline;
    float: left;
    text-align: center;
    padding: 15px 10px;
    border-right: 1px solid #1b6d85;
}
#menu strong, #menu a:hover, #menu a:focus, #menu .selected {
    color: #2C2C2C;
    text-shadow: 1px 1px #f4f4f4;
}
#menu a {
    color: #1b6d85;
    text-shadow: 1px 1px #c8c8c8
}
#menu ul li:last-child {
    border-right: 0;
}
#main_container, #foot {
    position: absolute;
    display: block;
    width: 100%;
}
#main_container {
    height: 95%;
    bottom: -5%;
    background: linear-gradient(#FFF, #bfdcdd);
}
#main_container > div {
    position: relative;
    float: none;
    width: 968px;
    height: auto;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: #FFF;
    box-shadow: 2px 10px 10px #cacaca;
    border: 1px solid #CCC;
    border-top: none;
}
#foot {
    height: 5%;
    bottom: -5%;
}
#foot .inner {
    position: relative;
    width: 968px;
    margin: 0 auto;
    text-align: center;
}
